body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f2229;
  padding: 1rem;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
  /* Ensure full video coverage */
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
h3{
  font-weight: bold;
  color: white;
  font-size: 1.8rem;
}
p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 800px;
  text-align: center;
}

.cta-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.cta-buttons a {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #61dafb;
  color: #1f2229;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 2rem;
  transition: background-color 0.3s;
  text-align: center;
  width: 200px;
}


.cta-buttons a:hover {
  background-color: #45a9d2;
}

.capabilities {
  background-color: #1f2229;
  padding: 4rem 0;
  text-align: center;
}

.capabilities h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #61dafb;
}

.capabilities p {
  font-size: 1.2rem;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  padding: 1rem;
  background-color: #1f2229;
  text-align: center;
}