body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
}

nav {
    width: 100%;
    height: 70px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    padding-top: 20px;
    box-sizing: border-box;
    align-items: center;
}
.nav-wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.sec-normal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    min-height: 100vh;

}
.sec-normal p{
    font-size: 24px;
    font-weight: 200;
    margin: 0;
    padding: 10px;
    text-align: center;
    max-width: 600px;
}
.big-link {
    font-size: 36px;
    text-decoration: inherit;
    color: black;
}

.link {
    color: #6F6F6F;
    text-decoration: inherit;
    margin: 0 10px;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background-color: #6C8DFF;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.big-header{
    font-weight: 200;
    font-size: 64px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
    box-sizing: border-box;
    min-height: 100vh;
}
.left-center-items{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-self: flex-start;

}
.d-links{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.hero.big .purp-link{
    color: #6C8DFF;
    text-decoration: underline;
    font-size: 24px;
    display: inline;
}
.purp-link{
    color: #6C8DFF;
    text-decoration: underline;
}
.link-wrap{
    box-sizing: border-box;
    margin: 10px 0;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;

}
.game-card {
    width: 500px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.game-card-img{
    width: 100%;
    height: 300px;
}
.game-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}